/* General styling */
body {
    background-color: #0a3a5a;
    font-family: BlackChancery;
    margin: 0;
    padding: 0;
    color: #f5eec7;
}

nav {
    position: sticky;
    color: #0a3a5a;
    top: 0;
    width: 100%;
    background-color: #f5eec7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

.page-header {
    color: #0a3a5a;
}

li {
    list-style: none;
}

li a {
    color: #0a3a5a;
    text-decoration: none;
}

.info-card {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    height: 100%;
    min-height: 79vh;
}

.left,
.right {
    text-align: center; 
    background-color: transparent;
    border: 1px solid #f5eec7;
    border-radius: 5px;
    padding: inherit;
    margin: inherit;
    min-width: 15%;
    margin-bottom: 20px; 
    display: flex;
    justify-content:safe;
    flex-direction: column;
}

.middle {
    background-color: #f5eec7;
    border: 1px solid #f5eec7;
    color: #0a3a5a;
    border-radius: 5px;
    border-color: black;
    padding: inherit;
    margin: inherit;
    min-width: 50%;
    box-shadow: 5px 10px 10px rgba(34, 33, 33, 0.7);
    justify-content: center;
    align-items: center;
}

.data-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.data-table th,
.data-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.data-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.data-table tbody tr:hover {
    background-color: #f9f9f9;
}

select[name="account_number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #fff;
    color: #0a3a5a;
    font-size: 16px;
}

/* Style for the options within the select */
select[name="account_number"] option {
    background-color: #f5eec7;
    color: #0a3a5a;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

/* Style for the select when hovered */
select[name="account_number"]:hover {
    border-color: #007bff;
}

/* General button styling */
.btn {
    display: block;
    padding: 10px 20px;
    margin: 10px auto; /* Center the button horizontally */
    text-decoration: none;
    color: #0a3a5a;
    background-color: #f5eec7;
    font-family: BlackChancery;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: #fff;
    color: black;
    transition: 0.5s ease-in-out;

}

.middle a {
    text-align: center; /* Center horizontally */
    margin: 0 auto; /* Center horizontally */
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #0a3a5a;
    color: #f5eec7;
}
/* Styling for the forms */
.form {
    min-width: 100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: 2px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #f5eec7;
}

input[type="number"],
input[type="text"] {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #fff;
    color: #0a3a5a;
    font-size: 16px;
}

input[type="number"], 
input[type="text"]:hover {
    border-color: #007bff;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Divide the space evenly between the elements */
    align-items: center; /* Center the items horizontally */
    margin: 2%; /* Adjust margin as needed */
}
.upper-section {
    background-color: #f5eec7;
    margin: 2%;
}

.upper-section h3{
    color:#0a3a5a;
}

.upper-section div{
    color: balck;
}

.middle-section{
    background-color: aqua;
    margin: 2%;
}

.lower-section{
    background-color: red;
    margin: 2%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0a3a5a;
    padding: 10px 0;
    text-align: center;
    color: #f5eec7;
}
