<!DOCTYPE html>
<html>
<head>
    <title>Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accounts.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-menu">
                <li><a href="{{ url_for('index') }}">Home</a></li>
            </ul>
            <h1 class="page-header">BankDom</h1>
            <ul class="nav-menu">
                <li><a href="{{ url_for('logout') }}">Log out</a></li>
            </ul>
        </nav>
    </header>
    <section class="info-card">
        <div class="left">
            <h1>Left</h1>
        </div>
        <div class="middle">
            <h1>Hello, {{ userName }}</h1>

            <table class="data-table">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in accounts %}
                    <tr>
                        <td>{{ account[0] }}</td>
                        <td>${{ account[1] }}¢</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-primary" href="{{ url_for('create_account') }}">Create Account</a>
        </div>
        <div class="right"></div>
    </section>
</body>
</html>