<!DOCTYPE html>
<html>
<head>
    <title>Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accounts.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-menu">
                <li><a href="{{ url_for('index') }}">Home</a></li>
            </ul>
            <h1 class="page-header">BankDom</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
            <ul class="nav-menu">
                <li><a href="{{ url_for('logout') }}">Log out</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Hello, {{ userName }}</h1>
        
        <h3>Accounts:</h3>
        <ul>
            {% for account in accounts %}
                <li>{{ account }}</li>
            {% endfor %}
        </ul>
        <a class="btn btn-primary" href="{{ url_for('create_account') }}">Create Account</a>
    </div>
</body>
</html>