<!DOCTYPE html>
<html>
<head>
    <title>Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accounts.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-menu">
                <li><a href="{{ url_for('index') }}">Home</a></li>
            </ul>
            <h1 class="page-header">BankDom</h1>
            <ul class="nav-menu">
                <li><a href="{{ url_for('logout') }}">Log out</a></li>
            </ul>
        </nav>
    </header>
    <section class="info-card">
        <div class="left">
            <h1>Left</h1>
        </div>
        <div class="middle">
            <h1>Hello, {{ userName }}</h1>

            <table class="data-table">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in accounts %}
                    <tr>
                        <td>{{ account[0] }}</td>
                        <td>${{ account[1] }}¢</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-primary" href="{{ url_for('create_account') }}">Create Account</a>
        </div>
        <div class="right">
            <div class="Deposit">
                <button type="button" class="btn btn-primary" id="deposit" onclick="showDepForm()">Deposit</button>
                <form id="deposit-form" class="form" action="{{ url_for('deposit') }}" method="POST" style="display: none;">
                    <label for="amount">Enter Amount:</label>
                    <input type="number" id="amount" name="amount" step="0.01" min="0">
                    <div class="input-container">
                        <label for="accountType">Choose an account: </label>
                        <select name="account_number">
                            {% for account in accounts %}
                            <option value="{{ account[2] }}">{{ account[0] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Deposit</button>
                </form>
            </div>
            <div class="transfer">
                <button type="button" class="btn btn-primary" id="transfer" onclick="showTransForm()">Send</button>
                <form id="transfer-form" class="form" action="{{ url_for('transfer') }}" method="POST" style="display: none;">
                    <input type="number" class="amount" name="amount" step="0.01" min="0" placeholder="Amount" required>
                    <input type="text" class="accountNumber" name="account_number" step="0.01" min="0" placeholder="Account Number" required>
                    <div class="input-container">
                        <label for="accountType">Choose an account: </label>
                        <select name="selected_account">
                            {% for account in accounts %}
                            <option value="{{ account[2] }}">{{ account[0] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Transfer</button>
                </form>
            </div>            
        </div>
    </section> 
    <script>
        function showDepForm() {
            var elem = document.getElementById("deposit-form");
            var elem2 = document.getElementById("transfer");
            if (elem.style.display === "none") {
                elem.style.display = "inline-block"; 
                elem2.style.display = "none";
            } else {
                elem.style.display = "none";
                elem2.style.display = "inline-block";
            }
        }
        function showTransForm() {
            var elem = document.getElementById("transfer-form");
            if (elem.style.display === "none") {
                elem.style.display = "inline-block"; // or any other desired display value
            } else {
                elem.style.display = "none";
            }
        }
    </script> 
</body>
</html>